*/Debug/**
Debug/**
*/Release/**
*/x64/Release/**
Release/**
Doc/*.html
**/*.suo
**/*.ncb
**/*.user
**/*.aps
**/*.msi
**/*.msm
**/*.wix
**/*.obj
**/*.pdb
**/*.res
**/*.log
**/*.manifest
**/*.lastbuildstate
**/*.sdf
**/*.tlog
**/*.opensdf
**/*.ipch
**/*.pyc
__pycache__/**
last_failed.py
