*/Debug/**
Debug/**
*/Release/**
Release/**
Doc/*.html
**/*.suo
**/*.ncb
**/*.user
**/*.aps
**/*.msi
**/*.msm
**/*.wix
**/*.obj
**/*.pdb
**/*.res
**/*.log
**/*.manifest
**/*.lastbuildstate
**/*.sdf
**/*.tlog
**/*.opensdf
__pycache__/**
